@charset "UTF-8";
@import "theme.light.css" (prefers-color-scheme: light);
@import "theme.dark.css" (prefers-color-scheme: dark);
@font-face {
  font-family: "Sukyung";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Sukyung.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  margin: 0;
  font-family: system-ui;
  line-height: 1.5;
  color: var(--txt);
}

.wrapper {
  max-width: calc(90ch + 4rem);
  margin-inline: auto;
  padding-inline: 2rem;
  min-height: max(100dvh, 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  text-align: center;
  word-break: keep-all;
  text-wrap: balance;
}

.stickywrapper {
  display: grid;
  grid-template-columns: 1fr fit-content(0);
  grid-template-rows: 1fr;
  position: relative;
}

main {
  grid-column: 1/span 2;
  grid-row: 1;
  z-index: 1;
}

aside {
  position: sticky;
  top: 0;
  z-index: 3;
  grid-column: 2;
  grid-row: 1;
  padding-inline: 2rem 2rem;
  background-color: var(--surface-transparent);
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
  width: -moz-fit-content;
  width: fit-content;
  height: max(100dvh, 2rem);
  border-radius: 1rem 0 0 1rem;
  font-size: 0.875rem;
  word-break: keep-all;
}
aside ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
aside ol li {
  font-weight: 600;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  text-transform: capitalize;
  display: flex;
  transition: color 150ms ease-out;
}
aside ol li:hover {
  color: var(--accent);
}
aside ol li:hover::before {
  border-color: var(--accent);
}
aside ol li.pressed {
  color: var(--accent);
}
aside ol li.pressed::before {
  background-color: var(--accent);
  border-color: var(--accent);
}
aside a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
aside a.pressed {
  background-color: var(--accent);
}

.progressBar {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--surface);
  width: 100%;
  height: 1rem;
  grid-column: 1/span 2;
  grid-row: 1;
}
.progressBar .indicator {
  position: absolute;
  inset: 0 0 0 0;
  transform-origin: left;
  background-color: var(--accent);
}

#section3 .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
#section3 .wrapper .image {
  grid-column: 1fr;
  margin: 0;
}
#section3 .wrapper .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#section15 {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

#section16 .glitch-effect {
  color: rgb(209, 209, 209);
  font-weight: 800;
}
#section16 .forgot {
  opacity: 0.1;
  text-decoration: line-through;
}

#section17 {
  text-align: center;
  font-weight: 900;
}

#section18 p {
  font-family: "Sukyung";
  color: gray;
  font-size: 24px;
}

#section19 {
  background-color: black;
  color: white;
  text-align: center;
}

#section21 {
  text-align: center;
}

footer .wrapper {
  min-height: max(100dvh, 2rem);
}

@media (width < 1080px) {
  .stickywrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
  main {
    grid-column: 1;
    grid-row: 3;
  }
  aside {
    top: 1rem;
    grid-column: 1;
    grid-row: 1;
    padding-inline: unset;
    padding-block: 1rem;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 0 0 1rem 1rem;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  aside::-webkit-scrollbar {
    display: none;
  }
  aside ol {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
  }
  aside ol a:first-of-type li {
    margin-left: 2rem;
  }
  aside ol a:last-of-type li {
    margin-right: 2rem;
  }
  .progressBar {
    grid-column: 1;
    grid-row: 1;
  }
}
@media (width < 960px) {
  aside aside {
    top: 1rem;
    grid-column: 1;
    grid-row: 3;
    padding-inline: unset;
    padding-block: 1rem;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 0 0 1rem 1rem;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  aside aside::-webkit-scrollbar {
    display: none;
  }
  aside aside ol {
    justify-content: flex-start;
  }
  aside aside ol a:first-of-type li {
    margin-left: 2rem;
  }
  aside aside ol a:last-of-type li {
    margin-right: 2rem;
  }
  #section3 .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  #section3 .wrapper .image {
    grid-column: 1fr;
  }
  #section3 .wrapper .image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
#section5 .container {
  position: relative;
}
#section5 .container::after {
  content: "";
  background-image: url("../image/교실.jpg");
  background-size: cover;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.erase {
  color: red;
  font-weight: 700;
  text-decoration: line-through;
}

.bad {
  text-decoration: line-through;
  color: rgb(165, 165, 165);
}

footer {
  background-color: rgb(220, 220, 220);
  text-align: center;
  justify-content: center;
  gap: 1rem;
}/*# sourceMappingURL=storyStyle.css.map */